<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>AC9/AC10</title>
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


<style>

 
.none {

display: none;

}

</style>

</head>





<script>


$( document ).ready(function() {



    $('#slt').change(function() {
   
            switch ($(':selected').val()){


            //BOX-PLOT
            case "0": alert("Informe um gráfico.");
            $("#dvRespondente").addClass("none");
                            $("#dvImagem").addClass("none");
                            $("#dvUtilitario").addClass("none");
                            $("#dvPreco").addClass("none");
                            $("#dvGenero").addClass("none");
                            $("#dvIdade").addClass("none");
                            $("#dvFilhos").addClass("none");
                            $("#dvRenda").addClass("none");
                            $("#dvPrototipo").addClass("none");
                            $("#dvPequeno").addClass("none");
                            $("#dvEstadoCivil").addClass("none");
                        break;


            //BOX-PLOT
            case "1":  $("#dvImagem").addClass("none");
                            $("#dvUtilitario").addClass("none");
                            $("#dvPreco").addClass("none");
                            $("#dvGenero").addClass("none");
                            $("#dvIdade").addClass("none");
                            $("#dvFilhos").addClass("none");
                            $("#dvRenda").addClass("none");
                            $("#dvPrototipo").addClass("none");
                            $("#dvPequeno").addClass("none");
                            $("#dvEstadoCivil").addClass("none");
                        $("#dvRespondente").removeClass("none");
                        $("#dvImagem").removeClass("none");
                        $("#dvUtilitario").removeClass("none");
                        $("#dvPreco").removeClass("none");
                        $("#dvGenero").removeClass("none");
                        $("#dvIdade").removeClass("none");
                        $("#dvFilhos").removeClass("none");
                        $("#dvRenda").removeClass("none");
                        $("#dvPrototipo").removeClass("none");
                        break;

            //HISTOGRAMA COM DENSIDADE
                case "2":   
                            $("#dvImagem").addClass("none");
                            $("#dvUtilitario").addClass("none");
                            $("#dvPreco").addClass("none");
                            $("#dvGenero").addClass("none");
                            $("#dvIdade").addClass("none");
                            $("#dvFilhos").addClass("none");
                            $("#dvRenda").addClass("none");
                            $("#dvPrototipo").addClass("none");
                            $("#dvPequeno").addClass("none");
                            $("#dvEstadoCivil").addClass("none");
                            $("#dvRespondente").removeClass("none");
                            $("#dvImagem").removeClass("none");
                            $("#dvUtilitario").removeClass("none");
                            $("#dvPreco").removeClass("none");
                            $("#dvGenero").removeClass("none");
                            $("#dvIdade").removeClass("none");
                            $("#dvFilhos").removeClass("none");
                            $("#dvRenda").removeClass("none");
                            $("#dvPrototipo").removeClass("none");
                            break;



            //BARRAS COM MÉDIAS
            case "3":    $("#dvImagem").addClass("none");
                            $("#dvUtilitario").addClass("none");
                            $("#dvPreco").addClass("none");
                            $("#dvGenero").addClass("none");
                            $("#dvIdade").addClass("none");
                            $("#dvFilhos").addClass("none");
                            $("#dvRenda").addClass("none");
                            $("#dvPrototipo").addClass("none");
                            $("#dvPequeno").addClass("none");
                            $("#dvEstadoCivil").addClass("none");
                            $("#dvRespondente").removeClass("none");
                            $("#dvImagem").removeClass("none");
                            $("#dvUtilitario").removeClass("none");
                            $("#dvPreco").removeClass("none");
                            $("#dvGenero").removeClass("none");
                            $("#dvIdade").removeClass("none");
                            $("#dvFilhos").removeClass("none");
                            $("#dvRenda").removeClass("none");
                            $("#dvPrototipo").removeClass("none");
                            $("#dvPequeno").removeClass("none");
                            $("#dvEstadoCivil").removeClass("none");
                            break;

            //BOX-PLOT CATEGORIZADO
            case "4":   
            $("#dvImagem").addClass("none");
                            $("#dvUtilitario").addClass("none");
                            $("#dvPreco").addClass("none");
                            $("#dvGenero").addClass("none");
                            $("#dvIdade").addClass("none");
                            $("#dvFilhos").addClass("none");
                            $("#dvRenda").addClass("none");
                            $("#dvPrototipo").addClass("none");
                            $("#dvPequeno").addClass("none");
                            $("#dvEstadoCivil").addClass("none"); 
                            $("#dvRespondente").removeClass("none");
                            $("#dvImagem").removeClass("none");
                            $("#dvUtilitario").removeClass("none");
                            $("#dvPreco").removeClass("none");
                            $("#dvGenero").removeClass("none");
                            $("#dvIdade").removeClass("none");
                            $("#dvFilhos").removeClass("none");
                            $("#dvRenda").removeClass("none");
                            $("#dvPrototipo").removeClass("none");
                            $("#dvPequeno").removeClass("none");
                            $("#dvEstadoCivil").removeClass("none");
                            break;


            //DISPERSÃO COM HISTOGRAMA
            case "5":      $("#dvImagem").addClass("none");
                            $("#dvUtilitario").addClass("none");
                            $("#dvPreco").addClass("none");
                            $("#dvGenero").addClass("none");
                            $("#dvIdade").addClass("none");
                            $("#dvFilhos").addClass("none");
                            $("#dvRenda").addClass("none");
                            $("#dvPrototipo").addClass("none");
                            $("#dvPequeno").addClass("none");
                            $("#dvEstadoCivil").addClass("none");
                            $("#dvRespondente").removeClass("none");
                            $("#dvImagem").removeClass("none");
                            $("#dvUtilitario").removeClass("none");
                            $("#dvPreco").removeClass("none");
                            $("#dvGenero").removeClass("none");
                            $("#dvIdade").removeClass("none");
                            $("#dvFilhos").removeClass("none");
                            $("#dvRenda").removeClass("none");
                            $("#dvPrototipo").removeClass("none");            
                            break;

            default:
                    alert('Não informado.');


            }


            });




});

function GerarGrafico(){

    window.location.href = '/dispersao?id=8&var=6&var=2';

}

</script>





<body id="body">

    <section id="topbar" class="d-none d-lg-block">
        <div class="container clearfix">
            <div class="contact-info float-left">
            </div>
            <div class="social-links float-right">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </section>

    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <a href="#body"><img src="img/logo.jpg" alt="" title="" width="70" height="60" /></a>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#body">Início</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                    <li><a href="#tabelagrafico">Tabelas/Gráficos</a></li>
                    <li><a href="#footer">Rodapé</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <section id="intro">

        <div class="intro-content">
            <h2>Jair  <span>Messias</span><br>Bolsonaro</h2>
            <div>
                <a href="#tabelagrafico" class="btn-get-started scrollto">Tabelas/Gráficos</a>
                <a href="#footer" class="btn-projects scrollto">Rodapé</a>
            </div>
        </div>

        <div id="intro-carousel" class="owl-carousel">
            <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>

        </div>
    </section>

    <main id="main">

        <section id="tabelagrafico" class="wow fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 about-img">                         
                        <select id="slt">
                           <option value="0">ESCOLHA O GRÁFICO</option>
                            <option value="1">BOX-PLOT</option>
                            <option value="2">HISTOGRAMA COM DENSIDADE</option>
                            <option value="3">BARRAS COM MÉDIAS</option>
                            <option value="4">BOX-PLOT CATEGORIZADO</option>
                            <option value="5">DISPERSÃO COM HISTOGRAMA</option>
                          </select>


                          <br/>
                          <br/>

                       <!-- Default unchecked -->
<div id="dvRespondente" class="none custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="Respondente">
    <label class="custom-control-label" for="Respondente">Respondente</label>
</div>

<div id="dvImagem" class="none custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="Imagem">
    <label class="custom-control-label" for="Imagem">Imagem</label>
</div>
<div id="dvUtilitario" class="none custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="Utilitario">
    <label class="custom-control-label" for="Utilitario">Utilitario</label>
</div>
<div id="dvPreco" class="none custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="Preco">
    <label class="custom-control-label" for="Preco">Preco</label>
</div>
<div id="dvGenero" class="none custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="Genero">
    <label class="custom-control-label" for="Genero">Genero</label>
</div>
<div id="dvEstadoCivil" class="none custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="EstadoCivil">
    <label class="custom-control-label" for="EstadoCivil">EstadoCivil</label>
</div>
<div id="dvIdade" class="none custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="Idade">
    <label class="custom-control-label" for="Idade">Idade</label>
</div>
<div id="dvFilhos" class="none custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="Filhos">
    <label class="custom-control-label" for="Filhos">Filhos</label>
</div>
<div id="dvRenda" class="none custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="Renda">
    <label class="custom-control-label" for="Renda">Renda</label>
</div>
<div id="dvPequeno" class="none custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="Pequeno">
    <label class="custom-control-label" for="Pequeno">Pequeno</label>
</div>
<div id="dvPrototipo" class="none custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="Prototipo">
    <label class="custom-control-label" for="Prototipo">Prototipo</label>
</div>


</br>

<button onclick="GerarGrafico();" type="button" class="btn btn-success">GERAR GRÁFICO</button>
<p>ID DO GRAFICO PARA GERARA PARADA TODA {{ Nome }}.</p>
                    </div>

                    <div class="col-lg-6 content">
                      
                        <img src="/grafico.jpg" />


                    </div>
                </div>

            </div>
        </section>

    </main>

    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Lucas <strong>Aragão</strong>. Todos os direitos reservados para o meu <strong>RA</strong>
            </div>
            <div class="credits">
                Feito por <a href="#">Lucas</a>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="lib/sticky/sticky.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
